<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jobdemo">
    <!--
    用于告知设备是否必须需要此硬件才能运行（不会在安装时检测，所以即使设为true也可以安装，
    但GooglePay会检测此属性，如果设备不支持，就会搜索不到）如果不声明则默认为true
    -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_PERMISSION" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <queries>

        <!-- 指定微信包名 -->
        <package android:name="com.tencent.mm" />
        <!-- 指定qq包名 -->
        <package android:name="com.tencent.mobileqq" />
        <!-- 指定微博包名 -->
        <package android:name="com.sina.weibo" />
        <!-- 指定QQ空间包名 -->
        <package android:name="com.qzone" />
        <!-- 指定支付宝包名 -->
        <package android:name="com.eg.android.AlipayGphone" />
        <!-- 指定百度地图包名 -->
        <package android:name="com.baidu.BaiduMap" />
        <!-- 指定高德地图包名 -->
        <package android:name="com.autonavi.minimap" />
        <!-- 指定腾讯地图包名 -->
        <package android:name="com.tencent.map" />
    </queries>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/JobDemoAppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:theme">
        <activity
            android:name=".activity.ComposeActivity"
            android:exported="false"
            android:label="@string/title_activity_compose"
            android:theme="@style/JobDemoAppTheme" />
        <activity
            android:name=".activity.WanAndroid"
            android:exported="false" />
        <activity
            android:name=".activity.CoroutinesDemo"
            android:exported="false" />
        <activity
            android:name=".activity.ImageShow"
            android:exported="false"
            android:label="@string/simulationKnowXY"
            android:theme="@style/showScrollbarThumb" />
        <activity
            android:name=".activity.BehaviorUse"
            android:exported="false" />
        <activity
            android:name=".activity.ImitateWechatLocation"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity
            android:name=".activity.RenameOrEditSignature"
            android:exported="false"
            android:label="@string/rename"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/JobDemoAppTheme.Fullscreen" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="com.lk.lbsapi.API_KEY"
            android:value="DE1663818689205877C32CBE4209C447288C629130111F1B2CYLCVFPFXRT2930" />
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" /> <!-- 多渠道配置 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${channel}" /> <!-- 百度地图 定位需要 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- 百度地图 key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="UpGAvq5yhd89MZRcTpihc2mjKeR5ziDs" /> <!-- 文件内容提供者 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 腾讯X5初始化优化 -->
        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
        <service android:name=".service.TestService" />
        <service android:name=".service.MyIntentService" /> <!-- android12 兼容，需要显式指定 exported，融云为升级前在主manifest中复制一份报错的组件，添加exported -->
        <!-- push 相关事件接收器 -->
        <receiver
            android:name="io.rong.push.rongpush.PushReceiver"
            android:exported="true"
            android:process="io.rong.push"> <!-- 此处进程可以改名，名称需要和PushService所在进程统一 -->
            <!-- 心跳事件和网络切换事件监听,必须 -->
            <intent-filter>
                <action android:name="io.rong.push.intent.action.HEART_BEAT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>

            <!-- 部分用户事件监听, 用来提高推送拉活率; 可移除 -->
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.callkit.VoIPBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="action.push.CallInviteMessage" />
                <action android:name="action.push.CallInviteMessage.CLICKED" />
                <action android:name="action.push.voip.hangup.click" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.callkit.util.RTCPhoneStateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver> <!-- android12 兼容 end -->
        <activity
            android:name=".CustomLaunchActivity"
            android:description="@string/exclude"
            android:exported="true"
            android:theme="@style/DjtStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:description="@string/exclude" />
        <activity
            android:name=".notification.SendNotification"
            android:label="@string/activity_send_notify" />
        <activity android:name=".animation.MyTranslateAnimation" />
        <activity android:name=".animation.MyScaleAnimation" />
        <activity android:name=".animation.MyRotate" />
        <activity android:name=".animation.MyAlpha" />
        <activity android:name=".animation.VeiwGroupAnimation" />
        <activity android:name=".animation.GroupAnimation" />
        <activity android:name=".animation.MyValueAnimation" />
        <activity android:name=".animation.MyObjectAnimator" />
        <activity android:name=".animation.MyInterpolator" />
        <activity android:name=".animation.MyFrameAnimatoin" />
        <activity
            android:name=".view_demo.DemoExpandableListView"
            android:label="@string/activity_expandable_listview" />
        <activity
            android:name=".exercise.RecyclerViewDemo"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".baidu_map.BaiduMapDemo"
            android:label="@string/showMapView" />
        <activity
            android:name=".activity.CameraDemo"
            android:label="@string/activity_camera_demo" />
        <activity android:name=".activity.DialogDemo" />
        <activity android:name=".activity.WidgetViewDemo" />
        <activity android:name=".activity.PopupWindowDemo" />
        <activity
            android:name=".activity.ListApiDemo"
            android:label="@string/listApiDemo" />
        <activity
            android:name=".activity.ActivityPublicWebView"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".activity.GreenDaoUse"
            android:exported="false" />
        <activity
            android:name=".activity.InfoShow"
            android:exported="true">
            <intent-filter android:icon="@mipmap/forwarding_wechat">
                <action android:name="com.example.jobdemo.INFOSHOW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityList"
            android:label="@string/AdapterControlShowCount" />
        <activity android:name=".activity.StudioDemo" />
        <activity
            android:name=".activity.ShowContent"
            android:description="@string/exclude" />
        <activity
            android:name=".activity.FlowLayoutDemo"
            android:label="@string/activity_flow_layout" />
        <activity android:name=".activity.LayoutCreatePicture" />
        <activity
            android:name=".activity.EditTextDemo"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".activity.MeasureView" />
        <activity android:name=".activity.RetrofitDemoActivity" />
        <activity android:name=".activity.RxjavaTiming" />
        <activity android:name=".activity.TestJetpackActivity" />
        <activity android:name=".activity.DataBinDingDemo" />
        <activity android:name=".activity.SQLiteDemo" />
        <activity android:name=".activity.RoomDemo" />
        <activity android:name=".activity.ViewModelTest" />
        <activity android:name=".activity.NavigationDemo" />
        <activity android:name=".activity.NavigationUIDemo" />
        <activity android:name=".activity.DraftActivity" />
        <activity
            android:name=".activity.MaterialDesignDemo"
            android:theme="@style/defaultStyle" />
        <activity android:name=".activity.ViewPager2Use" />
        <activity android:name=".activity.NotificationDemo" />
        <activity android:name=".activity.DragLayout" />
        <activity android:name=".activity.SearchViewDemo" />
        <activity android:name=".activity.DynamicActivity" />
        <activity android:name=".activity.ScrollerStringSize" />
        <activity android:name=".activity.VerificationCode" />
        <activity android:name=".activity.TestFunctionAndPrint" />
        <activity android:name=".activity.ResultApiUse" />
        <activity android:name=".testLeak.LotteryDemo" />
        <activity
            android:name=".testLeak.ShowToast2"
            android:launchMode="singleTop"
            android:theme="@style/DjtStyle"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.ExperienceActivity"
            android:theme="@style/DjtStyle" />
        <activity
            android:name=".activity.CompanyDetailsDemo"
            android:theme="@style/DjtStyle" />
        <activity android:name=".activity.ShowCellPhoneInfo" />
        <activity
            android:name=".activity.TestStatusBarUtils"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity android:name=".activity.DefaultLocation" />
        <activity android:name=".kotlin_code.activity.KtListViewDemo" />
        <activity android:name=".kotlin_code.activity.KtRecycleViewDemo" />
        <activity android:name=".activity.DatePickerAndTimePicker" />
        <activity
            android:name=".kotlin_code.activity.KtOftenSentence"
            android:label="@string/dialog_demo" />
        <activity android:name=".kotlin_code.activity.KtDrawableDemo" />
        <activity android:name=".kotlin_code.activity.ShapeAppearanceDemo" />
        <activity
            android:name=".kotlin_code.activity.KtConstrainDemo"
            android:label="@string/constrainDifficultIdea" />
        <activity
            android:name=".kotlin_code.activity.KtAnimationDemo"
            android:label="@string/propertyAnimationDemo" />
        <activity android:name=".activity.ChatLocation" />
        <activity
            android:name=".activity.ImageActivity"
            android:description="@string/exclude" />
    </application>

</manifest>